@if (modalService.isVisible()) {
  <div class="auth-modal-overlay" (click)="modalService.close()">
    <div class="auth-modal-content" (click)="$event.stopPropagation()">
      
     

      

      @if (modalService.isLoginMode()) {
        <div id="login-form-container">
          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
            <div class="form-group">
              <label>Email:</label>
              <input type="email" formControlName="email" placeholder="Enter your email">
            </div>
            <div class="form-group">
              <label>Password:</label>
              <input type="password" formControlName="password" placeholder="Enter your password">
            </div>
            <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">Log In</button>
            <p class="form-toggle">Don't have an account? 
              <a href="javascript:void(0)" (click)="toggleMode()">Sign Up</a>
            </p>
          </form>
        </div>
      }

      @else {
        <div id="signup-form-container">
          <form [formGroup]="signupForm" (ngSubmit)="onSignup()">
            <div class="form-grid">
              <input type="text" formControlName="firstName" placeholder="First Name">
              <input type="text" formControlName="lastName" placeholder="Last Name">
              <input type="number" formControlName="age" placeholder="Age">
              <input type="email" formControlName="email" placeholder="Email">
              <input type="password" formControlName="password" placeholder="Password (min. 8 char)">
              <input type="text" formControlName="address" placeholder="Address">
              <input type="text" formControlName="phone" placeholder="Phone Number">
              <input type="text" formControlName="zipcode" placeholder="Zipcode">
              <input type="text" formControlName="avatar" placeholder="Avatar URL">
              <select formControlName="gender" class="signup-gender">
                <option value="MALE">Male</option>
                <option value="FEMALE">Female</option>
              </select>
            </div>
            <button type="submit" class="btn-submit" [disabled]="signupForm.invalid">Register</button>
            <p class="form-toggle">Already have an account? 
              <a href="javascript:void(0)" (click)="toggleMode()">Log In</a>
            </p>
          </form>
        </div>
      }


    </div>
  </div>
}